/* Basic Style */
.app {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header .image {
  width: 100%;
}

.header .more {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.wrapper {
  display: flex;
}

#incompleted, #completed {
  margin:0;
  padding: 0px;
}

.non-editing, .editing, .item, .caption {
  list-style:none;
}

#new, #editing, .modifying, .checkbox, .add, .edit, .delete{
  outline:none;
}

.add, .edit, .delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.add:hover, .edit:hover, .delete:hover {
  color: #3a3a3a;
}

/* Heading */
.caption,
.new {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

#new, #editing, .modifying {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

#new:focus, #editing:focus, .modifying:focus{
  color: #333;
}

/* New Task */
.new {
  display: block;
  margin: 0 0 20px;
}

#new {
  width: 318px;
}

.add:hover {
  color: #0fc57c;
}

/* Task list */
.non-editing, .editing, .item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox, .task, #editing, .edit, .delete {
  vertical-align: middle;
}

.checkbox {
  margin: 0 10px;
}

.sticker {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

#editing, .modifying {
  width: 226px
}

.delete:hover {
  color: #cf2323;
}

.delete .remove {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete .remove:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed .sticker {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.modifying, #editing {
  display:none
}

.editing .modifying {
  display:inline-block;
  width:224px
}

.editing .sticker {
  display:none;
}